body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #a2d2ff;
    color: #ffffff;
}

#bff-img{
    border-radius: 50%;
    width: 150px;
    height: 250px;
    border: 6px solid #EFB0C9;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", cursive;
  font-weight: 400;
  font-style: normal;
} 

h1 , h2 , h4 {
    text-shadow: 0px 0px 1px black;
}  

#bday-age{
    font-family: 'Happy Monkey', cursive;
    background-color: #EFB0C9;
    padding : 5px 10px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
}


#bday-date {
    font-family: 'Happy Monkey', cursive;
    background-color: #EFB0C9;
    padding : 5px 10px;
    border-radius: 5px;
}

#header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.gift-img {
    margin: 0 auto;
    width : 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url('gift-wrap.jpg');
    background-size: cover;
}

.gift-section{
    margin-top: 50px;
}

.gift-title{
    margin-bottom: 30px;
}

.gift-img:hover{
    background-image:url(cry.gif)
}
