body{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color: #a2d2ff;
    color: #ffffff;
}

#bff-img{
    border-radius: 50%;
    width: 150px;
    height: 250px;
    border: 6px solid #EFB0C9;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
} 

h1 , h2 , h4 {
    text-shadow: 0px 0px 1px black;
} 