body {
    margin: 20 px;
}

.avatar{
    width: 150px;
}

.card{
    
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

.border-blue{
    border-color: blue;
    border: 1px dotted blue ;
}