body {
    background-image: url("galaxy.webp");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    
}


.btn{
    padding : 6px 12px;
    background-color: white;
    font-family: "Orbitron", sans-serif;
    border:none;
    color:#82a5ca;
    font-weight: 800px; 
}

.underline {
    text-decoration: underline;
}

#main-logo {
    width: 300px;
} 

#title {
    text-shadow: 0px 0px 4px black;
}