body {
    background-image: url("");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    
}


.btn{
    padding : 6px 12px;
    background-color: white;
    font-family: "Orbitron", sans-serif;
}