.main{
    margin-top: 100px;
    text-align: center;
  
}
.search_input{
    width: 800px;
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-width: 5px;
    border-color: grey;
    border: solid;
    padding:auto;
}

.logo_img{
    width: 700px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .lower{
    margin-top: 30px;
    display:  block;
    background-color: dfe1e5;
    border:none;
    padding:8px 16px;
    border-radius: 4px;
    font-size: 14px;
} */
.lower{

    margin-top: 30px;
    background-color: dfe1e5;
    border:none;
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
}